.App {
  text-align: center;
}

.budgetChartBox {
  height: 20px;
  width: 20px;
}

#flightBox {
  background-color: red;
}

#hotelBox {
  background-color: orange;
}

#transpoBox {
  background-color: yellow;
}

#foodBox {
  background-color: green;
}

#activitiesBox {
  background-color: lightblue;
}

#shoppingBox {
  background-color: blue;
}

#phoneBox {
  background-color: #E6E6FA;
}

#miscBox {
  background-color: purple;
}